.hidden {
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
button {
    cursor: pointer;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list,
.contacts {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;
}
.logo-s {
    color: #2e2f42;
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    fill: #2f2f37;
    display: block;
}
@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
        .navigation-list-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            padding: 24px 0;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .navigation-list-link.current {
            position: relative;
        }
    
        .navigation-list-link.current::after {
            content: '';
            border-radius: 2px;
            width: 100%;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: -1px;
            background-color: #404bbf;
        }
    
        .navigation-list-link:hover,
        .navigation-list-link:focus,
        .navigation-list-link.current {
            color: #404bbf;
        }
    .contacts {
        font-style: normal;
        display: block;
    }
    .contacts-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
    .address-list-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
    .address-list-link:hover,
    .address-list-link:focus {
            color: #404bbf;
                                }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .header-logo {
     padding: 24px 0;
     margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .address-list-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        padding: 24px 0;
    }
}

/* mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    } 
}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close {
   position: absolute;
   top: 24px;
   right: 24px; 
display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e7e9fc;
        width: 24px;
        height: 24px;
        line-height: 0;
        padding: 0;
        fill: #111111;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-navigation-list-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-navigation-list-link:hover,
.mobile-menu-navigation-list-link:focus,
.mobile-menu-address-list-link:hover,
.mobile-menu-address-list-link:focus {
        color: #404bbf;
    }
.mobile-menu-contacts {
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-menu-address-list-link {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-ul {
    display: flex;
    gap: 40px;
}
.mobile-menu-li {
    width: 40px;
    height: 40px;
}
.mobile-menu-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-icons {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #f4f4fd;
}

/* footer */
.footer {
    background-color: #2e2f42;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;}

.footer-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.logo-s-footer {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    margin-bottom: 72px;
}
.footer-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 72px;
}

.footer-li {
    gap: 16px;
    width: 40px;
    height: 40px;
}

.footer-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #f4f4fd;
}
.footer-form {
    width: 100%;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;}

.footer-form-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;}

.footer-form-label {
    max-width: 320px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2e2f42;
    outline: none;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    opacity: 0.3;
}
.footer-input::placeholder {
    font-weight: 400;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
}
.button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: #f4f4fd;
}

.footer-button-icon {
    position: absolute;
    top: 10px;
    right: 24px;
    fill: #fff;
    margin-left: 16px;
}
/* hero */
.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hero-image {
    background-color: #2e2f42;
    color: #fff;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg_people_office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 432px;
    padding: 72px 0;
    margin: 0 auto;
}
.hero-image-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 72px;
    width: 216px;
    height: 160px;
}
.hero-image-button {
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.hero-image-button:hover,
.hero-image-button:focus,
.button-send:hover,
.button-send:focus,
.button-subscribe:focus,
.button-subscribe:hover {
    background-color: #404BBF;
}

/*About us*/

.icon {
    display: none;
}
.about-us-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin-top: 96px;
    margin-bottom: 96px;
}
.about-us-title-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.about-us-title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Our Team*/

.our-team {
    background-color: #F4F4FD;
    padding: 96px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.our-team-main-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.our-team-photo {
    background: url("path_to_image");
    background-color: #fff;
}
.our-team-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.our-team-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.social-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 232px;
    height: 40px;
}
.social_li {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
    background-color: #404bbf;
}
.social-link:focus {
    background-color: #404bbf;
}
.our-team-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

/*Our Portfolio*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-left: 16px;
    padding-right: 16px;
}
.portfolio-list-li {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cover {
    position: relative;
    overflow: hidden;
}
.cashless-payment-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-li:hover .cashless-payment-cover-text {
    transform: translate(0);
}
.our-portfolio-photo {
    background: url("path_to_image");
    background-color: #fff;
}
.small-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.our-portfolio-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-portfolio-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: visible;
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
    fill: #111111;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
}

.button-send {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper-cont {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-cont-input {
    position: relative;
}

.modal-input {
    border: 1px solid #2E2F42;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper-cont-comment {
    display: block;
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}
.modal-con-checkbox {
    margin-bottom: 24px;
}

.custom-label-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox:checked+.custom-label-checkbox>.custom-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

@media screen and (min-width: 768px) {
.hero {
flex-direction: column;
align-items: center;
justify-content: center;
}
.hero-image {
    max-width: 768px;
    height: 436px;
    padding: 112px 0;
    margin: 0 auto;
}
.hero-image-title {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 36px;
    width: 100%;
    height: 120px;
    margin-top: 0;
}
.about-us-title-list {
    text-align: left;
}
.about-us-list-li {
    width: calc((100% - 72px) / 2);
}
.our-team-main-list {
    row-gap: 24px;
    column-gap: 64px;
    justify-content: center;
}
.portfolio-list {
    gap: 24px;}
.portfolio-list-li {
width: calc((100% - 72px) / 2);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-wrap {
    max-width: 100%;
    justify-content: center;
    gap: 24px;
}

.footer-logo {
justify-content: left;
}
.footer-form-cont {
    flex-direction: row;
}
}


@media screen and (min-width: 1158px) {
.hero-image {
max-width: 1440px;
height: 600px;
padding: 188px 0;
margin: 0 auto;
    }
.about-us-list-li {
        width: calc((100% - 72px) / 4);
    }
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
        }
    .about-us-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
     width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    }
    .about-us-list {
    gap: 24px;
    }
    .our-team {
    padding: 120px 0;
    }
    .our-team-main-list {
    gap: 24px;
    }
   .our-team-main-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
   }
   .portfolio {
       padding-top: 120px;
       padding-bottom: 120px;
   } 
.portfolio-list {
        gap: 24px;
}
.portfolio-list-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}

.footer {
    padding: 100px 0;
    height: 312px;
}
.logo-p-wrap {
    margin-right: auto;
    width: 100%;
}
.footer-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    margin-left: 156px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-media {
    padding-right: 120px;
    height: 80px;
}
.footer-text {
    max-width: 264px;
}
.footer-form {
    margin-right: auto;
    margin-left: auto;
}
.footer-form-cont {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.footer-ul {
    display: flex;
    gap: 16px;
}
.social_li {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 40px;
    height: 40px;
}

.footer-li {
    gap: 16px;
    width: 40px;
    height: 40px;
}
}