
.logo-s {
    color: #2e2f42;
}
.footer {
    background-color: #2e2f42;
    padding: 100px 0; 
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-s-footer {
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-media-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}
.footer-wrap {
    display: flex;
    align-items: baseline;
}
.logo-p-wrap {
    margin-right: auto;
}
.footer-icons {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}
.footer-icons-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
    margin-left: 16px;
}
.footer-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form {
    margin-left: auto;
}
.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-form-cont {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .footer-button-icon {
    position: absolute;
    top: 10px;
    right: 24px;
    fill: #fff;
    margin-left: 16px;
} */
.contacts {
    font-style: normal;
    margin-left: auto;
}





.hero-image {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #2e2f42;
    color: #fff;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_people_office.jpg);
    background-position: center;
    background-size: cover;
}
.hero-image-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.hero-image-button {
    margin: 0 auto;
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-image-button:hover, 
.hero-image-button:focus,
.button-send:hover, 
.button-send:focus,
.button-subscribe:focus,
.button-subscribe:hover {
    background-color: #404BBF;
}
.about-us {
    padding: 120px 0;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.about-us-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
}
.about-us-list {
    display: flex;
    gap: 24px;
}
.about-us-list-li {
    width: calc((100% - 72px) / 4);
}
.about-us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.about-us-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.about-us-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.our-team-main-list {
    display: flex;
    gap: 24px;
}
.social-ul {
    display: flex;
        column-gap: 15px;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        gap: 24px;
}
.footer-ul {
display: flex;
    gap: 16px;
}
.social_li {
    display: flex;
        align-items: center;
        gap: 16px;
        width: 40px;
        height: 40px;
}
.footer-li {
        gap: 16px;
        width: 40px;
        height: 40px;
}
.social-link {
width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
     background-color: #404bbf;
 }
.social-link:focus {
    background-color: #404bbf;
}
.footer-media-link:hover {
     background-color: #31d0aa;
 }
.footer-media-link:focus {
    background-color: #31d0aa;
}
.our-team-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}
.our-team-list {
background-color:#FFFFFF;
border-radius: 0px 0px 4px 4px;
width: calc((100% - 72px) / 4);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.our-team-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.our-team-photo {
    background: url("path_to_image");
    background-color: #fff;
}
.personell {
    padding: 32px 0;
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.our-portfolio-title-list {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.small-cont {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-li:hover .cashless-payment-cover-text {
transform: translate(0);
}
.our-portfolio-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio-photo {
    background: url("path_to_image");
    background-color: #fff;
}
.cover {
    position: relative;
    overflow: hidden;
}
.cashless-payment-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #4d5ae5;
        padding: 40px 32px;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: visible;
}
.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
    fill: #111111;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
}
.button-send {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper-cont {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-cont-input {
    position: relative;
}

.modal-input {
    border: 1px solid #2E2F42;
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-input:focus {
border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper-cont-comment {
    display: block;
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 120px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}
.footer-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #2e2f42;
        outline: none;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        color: #ffffff;
}
.footer-input::placeholder {
    font-weight: 400;
        color: #ffffff;
        padding-top: 8px;
        padding-bottom: 8px;
}
.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-left: 16px;
    padding-top: 8px;
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-con-checkbox {
    margin-left: 24px;
    margin-bottom: 24px;
}

.custom-label-checkbox {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        cursor: pointer;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.checkbox:checked + .custom-label-checkbox > .custom-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}